In [12]:
import pandas as pd

# Lire le fichier brut
with open("tables_result.txt", "r") as file:
    lines = file.readlines()

# Supprimer les lignes vides ou décoratives
cleaned_lines = [
    line.strip()
    for line in lines
    if line.strip() and not set(line.strip()) <= {"-", " "}
]

# Supprimer la dernière ligne si elle ne correspond pas aux colonnes
if len(cleaned_lines) >= 2:
    last_line_cols = len(cleaned_lines[-1].split())
    first_line_cols = len(cleaned_lines[0].split())
    if last_line_cols != first_line_cols:
        cleaned_lines = cleaned_lines[:-1]  # Supprimer la dernière ligne

# Extraire les colonnes et données
header = cleaned_lines[1].split()
data = [line.split() for line in cleaned_lines[2:]]


# Créer le DataFrame
df = pd.DataFrame(data, columns=header)

print(df)

   TABLE_SCHEMA               TABLE_NAME
0         Sales             SalesTaxRate
1         Sales         PersonCreditCard
2        Person              PersonPhone
3         Sales           SalesTerritory
4        Person          PhoneNumberType
..          ...                      ...
66   Production                 Location
67       Person                 Password
68        Sales  SalesPersonQuotaHistory
69       Person                   Person
70        Sales              SalesReason

[71 rows x 2 columns]

In [ ]:
df[df["TABLE_SCHEMA"] == "Sales"]
#SalesOrderDetail

   TABLE_SCHEMA                   TABLE_NAME
0         Sales                 SalesTaxRate
1         Sales             PersonCreditCard
3         Sales               SalesTerritory
6         Sales        SalesTerritoryHistory
13        Sales             ShoppingCartItem
17        Sales                 SpecialOffer
21        Sales          SpecialOfferProduct
29        Sales                        Store
43        Sales        CountryRegionCurrency
47        Sales                   CreditCard
50        Sales                     Currency
52        Sales                 CurrencyRate
53        Sales                     Customer
56        Sales             SalesOrderDetail
59        Sales             SalesOrderHeader
62        Sales  SalesOrderHeaderSalesReason
63        Sales                  SalesPerson
68        Sales      SalesPersonQuotaHistory
70        Sales                  SalesReason

In [1]:
import pandas as pd

# Lire le fichier brut
with open("tables_result.txt", "r") as file:
    lines = file.readlines()

# Supprimer les lignes vides ou décoratives
cleaned_lines = [
    line.strip()
    for line in lines
    if line.strip() and not set(line.strip()) <= {"-", " "}
]

# Séparer en colonnes à partir de la première ligne (en-têtes)
header = cleaned_lines[0].split()
data = [line.split() for line in cleaned_lines[1:]]

# Créer le DataFrame
df = pd.DataFrame(data, columns=header)

print(df)

ValueError: 5 columns passed, passed data had 3 columns